{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 row m-0 p-0">
                    <div class="col-sm-12">
                        {% if user.is_authenticated %}
                            <div id="post-modal-data" class="iq-card iq-card-block iq-card-stretch iq-card-height">
                                <div class="iq-card-header d-flex justify-content-between">
                                    <div class="iq-header-title">
                                        <h4 class="card-title">Create Post</h4>
                                    </div>

                                </div>
                                <div class="iq-card-body" data-toggle="modal" data-target="#post-modal">
                                    <div class="d-flex align-items-center">
                                        <div class="user-img">
                                            <img src="{{ user.profile.image.url }}" alt="userimg" class="avatar-60 rounded-circle img-fluid">
                                        </div>

                                            <input type="text" class="form-control rounded ml-3" placeholder="Tell Us Something Good!">

                                    </div>
                                    <hr>

                                </div>
                                <div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="post-modalLabel" aria-hidden="true" >
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="post-modalLabel">Create Post</h5>
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ri-close-fill"></i></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="d-flex align-items-center">
                                                    <div class="user-img">
                                                        <img src="{{ user.profile.image.url }}" alt="userimg" class="avatar-60 rounded-circle img-fluid">
                                                    </div>
                                                    <form class="post-text ml-3 w-100" action="javascript:void(0);">
                                                        <input type="text" class="form-control rounded" placeholder="Tell Us Something Good!" id="input_post_content">
                                                    </form>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6">
                                                        <div class="iq-bg-primary rounded p-2 pointer mr-3">
                                                            <input type="file" class="input_file_hidden" id="input_post_image"
                                                                   onchange="preview_post_image()" multiple>
                                                            <label for="input_post_image"><img
                                                                    src="{% static 'users/images/small/07.png' %}"
                                                                    alt="icon" class="img-fluid">
                                                                Photo/Video</label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6">
                                                        <div class="dropdown">
                                                               <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                                               <span class="btn btn-outline-primary">Friend</span>
                                                               </span>
                                                            <div class="dropdown-menu m-0 p-0">
                                                                <a class="dropdown-item p-3" href="#">
                                                                    <div class="d-flex align-items-top">

                                                                        <div class="icon font-size-20"><i class="ri-save-line"></i></div>
                                                                        <div class="data ml-2">
                                                                            <h6>Public</h6>
                                                                            <p class="mb-0">Everyone</p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                                <a class="dropdown-item p-3" href="#">
                                                                    <div class="d-flex align-items-top">
                                                                        <div class="icon font-size-20"><i class="ri-close-circle-line"></i></div>
                                                                        <div class="data ml-2">
                                                                            <h6>Friends</h6>
                                                                            <p class="mb-0">Your Friends</p>
                                                                        </div>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="other-option">
                                                    <div class="d-flex align-items-center justify-content-between">

                                                        <div class="iq-card-post-toolbar">

                                                            <div class="div_select_public_private">
                                                                <select name="public_private" id="select_public">
                                                                    <option value="public">Public</option>
                                                                    <option value="private">Private</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary d-block w-100 mt-3" onclick="submit_new_post()">Post</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% for post in posts %}
                    <div class="col-sm-12">
                        <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                            <div class="iq-card-body">
                                <div class="user-post-data">
                                    <div class="d-flex flex-wrap">
                                        <div class="media-support-user-img mr-3">
                                            <img class="rounded-circle img-fluid" src="{{ post.author.profile.image.url }}" alt="">
                                        </div>
                                        <div class="media-support-info mt-2">
                                            <h5 class="mb-0 d-inline-block"><a href="javascript:void(0)" onclick="checkBlock({{ post.author.id }}, '{{ post.author.username }}')">{{ post.author.profile.user.first_name }} {{ post.author.profile.user.last_name }}</a></h5>

                                            <p class="mb-0 text-muted">{{ post.date_posted|date:"F d, Y" }}</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="mt-3 ml-5">
                                    <p>{{ post.content }}</p>
                                </div>
                                <div class="user-post">
                                    <div class="d-flex">
                                        <div class="col-md-12">
                                            {% for image in post.images %}
                                            <a href="javascript:void(0);"><img src="images/page-img/p1.jpg" alt="post-image" class="img-fluid rounded w-100"></a>
                                                {% endfor %}
                                        </div>

                                    </div>
                                </div>
                                <div class="comment-area mt-3">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="like-block position-relative d-flex align-items-center">
                                            <div class="total-comment-block">
                                                <div class="dropdown">
                                                    <span class="dropdown-toggle"
                                                          data-toggle="dropdown"
                                                          aria-haspopup="true"
                                                          aria-expanded="false" role="button">
                                                <span id="num_comment_{{ post.id }}">{{ post.comments.all|length }}</span> Comments
                                            </span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="share-block  text-right feather-icon mr-2">

                                            <a href="javascript:void(0);"><svg class="bi bi-arrow-90deg-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M2.646 6.854a.5.5 0 00.708 0L6 4.207l2.646 2.647a.5.5 0 10.708-.708l-3-3a.5.5 0 00-.708 0l-3 3a.5.5 0 000 .708z" clip-rule="evenodd"/>
                                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 00-.5.5v6.5A2.5 2.5 0 008 13h5.5a.5.5 0 000-1H8a1.5 1.5 0 01-1.5-1.5V4a.5.5 0 00-.5-.5z" clip-rule="evenodd"/>
                                            </svg>
                                                <span class="ml-1"
                                                      onclick="upvote({{ post.id }}, {{ post.author.id }})"><span
                                                        id="upvote_{{ post.id }}">{{ post.like|length }}</span> Upvote</span></a>&nbsp;&nbsp;
                                            <a href="javascript:void(0);"><svg class="bi bi-arrow-90deg-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M2.646 9.646a.5.5 0 01.708 0L6 12.293l2.646-2.647a.5.5 0 11.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                                                <path fill-rule="evenodd" d="M6 13a.5.5 0 01-.5-.5V6A2.5 2.5 0 018 3.5h5.5a.5.5 0 010 1H8A1.5 1.5 0 006.5 6v6.5a.5.5 0 01-.5.5z" clip-rule="evenodd"/>
                                            </svg><span
                                                    class="ml-1"
                                                    onclick="downvote({{ post.id }}, {{ post.author.id }})">
                                        <span id="downvote_{{ post.id }}">
                                            {% if post.dislike|length == 0 %}
                                                0
                                            {% else %}
                                                -{{ post.dislike|length }}
                                            {% endif %}
                                        </span> Downvote</span></a>
                                        </div>
                                    </div>
                                    <hr>
                                    <ul class="post-comments p-0 m-0" id="post_comments_{{ post.id }}"
                                        data-id="{{ post.id }}">
                                        {% for comment in post.comments.all %}
                                        <li class="mb-2">
                                            <div class="d-flex flex-wrap">
                                                <div class="user-img">
                                                    <img src="/media/uploads/{{ comment.author.profile.image }}"
                                                         alt="userimg"
                                                         class="avatar-35 rounded-circle img-fluid">
                                                </div>
                                                <div class="comment-data-block ml-3" href="javascript:void(0);"
                                                     onclick="checkBlock({{ comment.author.id }}, '{{ comment.author.username }}')">
                                                    <h6>{{ comment.author.first_name }} {{ comment.author.last_name }}</h6>
                                                    <p class="mb-0" id="content_{{ comment.id }}"> {{ comment.content }} </p>
                                                    {% if comment.image != '' %}
                                                        <img src="/media/{{ comment.image }}" alt=""
                                                             style="width: 80%; margin: auto; margin-left: 10%">
                                                    {% endif %}
                                                    <div class="d-flex flex-wrap align-items-center comment-activity">
                                                        <a href="javascript:void();">
                                                            <svg class="bi bi-arrow-90deg-up" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" d="M2.646 6.854a.5.5 0 00.708 0L6 4.207l2.646 2.647a.5.5 0 10.708-.708l-3-3a.5.5 0 00-.708 0l-3 3a.5.5 0 000 .708z" clip-rule="evenodd"/>
                                                                <path fill-rule="evenodd" d="M6 3.5a.5.5 0 00-.5.5v6.5A2.5 2.5 0 008 13h5.5a.5.5 0 000-1H8a1.5 1.5 0 01-1.5-1.5V4a.5.5 0 00-.5-.5z" clip-rule="evenodd"/>
                                                            </svg>
                                                                <span class="ml-1" onclick="upvoteComment({{ comment.id }}, {{ comment.author.id }})">
                                                                    <span id="upvotecomment_{{ comment.id }}">{{ comment.vote|length }}</span>
                                                                </span>
                                                        </a>&nbsp;&nbsp;
                                                        <a href="javascript:void();">
                                                            <svg class="bi bi-arrow-90deg-down" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" d="M2.646 9.646a.5.5 0 01.708 0L6 12.293l2.646-2.647a.5.5 0 11.708.708l-3 3a.5.5 0 01-.708 0l-3-3a.5.5 0 010-.708z" clip-rule="evenodd"/>
                                                                <path fill-rule="evenodd" d="M6 13a.5.5 0 01-.5-.5V6A2.5 2.5 0 018 3.5h5.5a.5.5 0 010 1H8A1.5 1.5 0 006.5 6v6.5a.5.5 0 01-.5.5z" clip-rule="evenodd"/>
                                                            </svg>
                                                                <span class="ml-1" onclick="downvotecomment({{ comment.id }}, {{ comment.author.id }})">
                                                                    <span id="downvotecomment_{{ comment.id }}">
                                                                        {% if comment.devote|length == 0 %}
                                                                            0
                                                                        {% else %}
                                                                            -{{ comment.devote|length }}
                                                                        {% endif %}
                                                                    </span>
                                                                </span>
                                                        </a>
                                                        <a href="javascript:void(0);" onclick="onReply({{ post.id }},'{{ user.first_name }}', '{{ user.last_name }}','{{ comment.author.id }}')">Reply</a>
                                                        <span> 5 min </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                             {% endfor %}

                                    </ul>
                                    <form class="comment-text d-flex align-items-center mt-3" action="javascript:void(0);">
                                        <input type="text"
                                        class="form-control rounded input_comment" id="{{ post.id }}"
                                        name="{{ post.author.id }}">
                                        <div class="comment-attagement d-flex">
                                            <input type="file" style="padding-right: 0px"
                                                   data-id="{{ post.id }}"
                                                   class="input_file_hidden input_comment_image"
                                                   id="input_comment_image{{ post.id }}">
                                            <label for="input_comment_image{{ post.id }}"><i
                                                    class="ri-camera-line mr-3"></i></label>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <div class="col-lg-4">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Change This</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <ul class="media-story m-0 p-0">
                                <li class="d-flex mb-4 align-items-center">
                                    <i class="ri-add-line font-size-18"></i>
                                    <div class="stories-data ml-3">
                                        <h5>Change This</h5>
                                        <p class="mb-0">time to story</p>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 align-items-center active">
                                    <img src="images/page-img/s1.jpg" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Change This</h5>
                                        <p class="mb-0">1 hour ago</p>
                                    </div>
                                </li>
                                <li class="d-flex mb-4 align-items-center">
                                    <img src="images/page-img/s2.jpg" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Change This</h5>
                                        <p class="mb-0">4 hour ago</p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <img src="images/page-img/s3.jpg" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Change This</h5>
                                        <p class="mb-0">9 hour ago</p>
                                    </div>
                                </li>
                            </ul>
                            <a href="#" class="btn btn-primary d-block mt-3">See All</a>
                        </div>
                    </div>
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Change This</h4>
                            </div>

                        </div>
                        <div class="iq-card-body">
                            <ul class="media-story m-0 p-0">
                                <li class="d-flex mb-4 align-items-center active">
                                    <img src="images/page-img/s1.jpg" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Change This</h5>
                                        <p class="mb-0">1 hour ago</p>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <img src="images/page-img/s1.jpg" alt="story-img" class="rounded-circle img-fluid">
                                    <div class="stories-data ml-3">
                                        <h5>Change This</h5>
                                        <p class="mb-0">1 hour ago</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Suggested Pages</h4>
                            </div>
                            <div class="iq-card-header-toolbar d-flex align-items-center">
                                <div class="dropdown">
                                 <span class="dropdown-toggle" id="dropdownMenuButton01" data-toggle="dropdown" aria-expanded="false" role="button">
                                 <i class="ri-more-fill"></i>
                                 </span>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton01" style="">
                                        <a class="dropdown-item" href="#"><i class="ri-eye-fill mr-2"></i>View</a>
                                        <a class="dropdown-item" href="#"><i class="ri-delete-bin-6-fill mr-2"></i>Delete</a>
                                        <a class="dropdown-item" href="#"><i class="ri-pencil-fill mr-2"></i>Edit</a>
                                        <a class="dropdown-item" href="#"><i class="ri-printer-fill mr-2"></i>Print</a>
                                        <a class="dropdown-item" href="#"><i class="ri-file-download-fill mr-2"></i>Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <ul class="suggested-page-story m-0 p-0 list-inline">
                                <li class="mb-3">
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="images/page-img/42.png" alt="story-img" class="rounded-circle img-fluid avatar-50">
                                        <div class="stories-data ml-3">
                                            <h5>xamp Studio</h5>
                                            <p class="mb-0">Lorem Ipsum</p>
                                        </div>
                                    </div>
                                    <img src="images/small/img-1.jpg" class="img-fluid rounded" alt="Responsive image">
                                    <div class="mt-3"><a href="#" class="btn d-block"><i class="ri-thumb-up-line mr-2"></i> Like Page</a></div>
                                </li>
                                <li class="">
                                    <div class="d-flex align-items-center mb-3">
                                        <img src="images/page-img/42.png" alt="story-img" class="rounded-circle img-fluid avatar-50">
                                        <div class="stories-data ml-3">
                                            <h5>xamp Studio</h5>
                                            <p class="mb-0">Lorem Ipsum</p>
                                        </div>
                                    </div>
                                    <img src="images/small/img-1.jpg" class="img-fluid rounded" alt="Responsive image">
                                    <div class="mt-3"><a href="#" class="btn d-block"><i class="ri-thumb-up-line mr-2"></i> Like Page</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <img src="{% static 'users/images/page-img/page-load-loader.gif' %}" alt="loader" style="height: 100px;">
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content  -->
{#    <div id="content-page" class="content-page">#}
{#        <div class="container">#}
{#            <div class="row">#}
{#                <div class="col-lg-8 row m-0 p-0">#}
{#                    <div class="col-sm-12">#}
{##}
{#                        {% if user.is_authenticated %}#}
{#                            <div id="post-modal-data" class="iq-card iq-card-block iq-card-stretch iq-card-height">#}
{#                            <div class="iq-card-header d-flex justify-content-between">#}
{#                                <div class="iq-header-title">#}
{#                                    <h4 class="card-title">Create Post</h4>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="iq-card-body" data-toggle="modal" data-target="#post-modal">#}
{#                                <div class="d-flex align-items-center">#}
{#                                    <div class="user-img">#}
{#                                        <img src="{{ user.profile.image.url }}" alt="userimg" class="avatar-60 rounded-circle img-fluid">#}
{#                                    </div>#}
{#                                    <form class="post-text ml-3 w-100" action="javascript:void();">#}
{#                                        <input type="text" class="form-control rounded" placeholder="Write something here..." style="border:none;">#}
{#                                    </form>#}
{#                                </div>#}
{#                                <hr>#}
{#                                <ul class="post-opt-block d-flex align-items-center list-inline m-0 p-0">#}
{#                                    <li class="iq-bg-primary rounded p-2 pointer mr-3"><a href="#"></a><img src="{% static 'users/images/small/07.png' %}" alt="icon" class="img-fluid"> Photo/Video</li>#}
{##}
{#                                </ul>#}
{#                            </div>#}
{#                            <div class="modal fade" id="post-modal" tabindex="-1" role="dialog" aria-labelledby="post-modalLabel" aria-hidden="true" style="display: none;">#}
{#                                <div class="modal-dialog" role="document">#}
{#                                    <div class="modal-content">#}
{#                                        <div class="modal-header">#}
{#                                            <h5 class="modal-title" id="post-modalLabel">Create Post</h5>#}
{#                                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="ri-close-fill"></i></button>#}
{#                                        </div>#}
{#                                        <div class="modal-body">#}
{#                                            <div class="d-flex align-items-center">#}
{#                                                <div class="user-img">#}
{#                                                    <img src="{{ user.profile.image.url }}" alt="userimg" class="avatar-60 rounded-circle img-fluid">#}
{#                                                </div>#}
{#                                                <form class="post-text ml-3 w-100" action="javascript:void(0);">#}
{#                                                    <input type="text" class="form-control rounded" placeholder="Write something here..." style="border:none;">#}
{#                                                </form>#}
{#                                            </div>#}
{#                                            <hr>#}
{#                                            <ul class="d-flex flex-wrap align-items-center list-inline m-0 p-0">#}
{#                                                <li class="col-md-6 mb-3">#}
{#                                                    <div class="iq-bg-primary rounded p-2 pointer mr-3"><a href="#"></a><img src="{% static 'users/images/small/07.png' %}" alt="icon" class="img-fluid"> Photo/Video</div>#}
{#                                                </li>#}
{#                                            </ul>#}
{#                                            <hr>#}
{#                                            <div class="other-option">#}
{#                                                <div class="d-flex align-items-center justify-content-between">#}
{#                                                    <div class="d-flex align-items-center">#}
{#                                                        <div class="user-img mr-3">#}
{#                                                            <img src="{{ user.profile.image.url }}" alt="userimg" class="avatar-60 rounded-circle img-fluid">#}
{#                                                        </div>#}
{#                                                        <h6>Your Story</h6>#}
{#                                                    </div>#}
{#                                                    <div class="iq-card-post-toolbar">#}
{#                                                        <div class="dropdown">#}
{#                                                            <span class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">#}
{#                                                   <span class="btn btn-primary">Friend</span>#}
{#                                                   </span>#}
{#                                                            <div class="dropdown-menu m-0 p-0">#}
{#                                                                <a class="dropdown-item p-3" href="#">#}
{#                                                                    <div class="d-flex align-items-top">#}
{#                                                                        <div class="icon font-size-20"><i class="ri-save-line"></i></div>#}
{#                                                                        <div class="data ml-2">#}
{#                                                                            <h6>Public</h6>#}
{#                                                                            <p class="mb-0">Everyone</p>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </a>#}
{#                                                                <a class="dropdown-item p-3" href="#">#}
{#                                                                    <div class="d-flex align-items-top">#}
{#                                                                        <div class="icon font-size-20"><i class="ri-close-circle-line"></i></div>#}
{#                                                                        <div class="data ml-2">#}
{#                                                                            <h6>Friends</h6>#}
{#                                                                            <p class="mb-0">Your Friends</p>#}
{#                                                                        </div>#}
{#                                                                    </div>#}
{#                                                                </a>#}
{#                                                            </div>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <button type="submit" class="btn btn-primary d-block w-100 mt-3" onclick="submit_new_post()">Post</button>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        {% endif %}#}




{#                        {% if user.is_authenticated %}#}
{#                    <article class="media content-section" style="margin-bottom: 30px">#}
{#                        <img class="rounded-circle article-img" src="{{ user.profile.image.url }}" alt="">#}
{#                        <div class="media-body text-center my-auto">#}
{#                            <div class="form-group">#}
{#                                <button class="btn btn-outline-primary form-control form-rounded" id="message"#}
{#                                        data-toggle="modal"#}
{#                                        data-target="#mymodal">Tell Us Something Good!#}
{#                                </button>#}
{#                            </div>#}
{#                        </div>#}
{#                    </article>#}
{##}
{#                    <!-- MODAL -->#}
{#                    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog"#}
{#                         aria-labelledby="post-modalLabel" aria-hidden="true"#}
{#                         style="display: none;">#}
{#                        <div class="modal-dialog" role="document">#}
{#                            <div class="modal-content">#}
{#                                <div class="modal-header">#}
{#                                    <h5 class="modal-title" id="post-modalLabel">Create#}
{#                                        Post</h5>#}
{#                                    <button type="button" class="btn btn-secondary"#}
{#                                            data-dismiss="modal"><i#}
{#                                            class="ri-close-fill"></i></button>#}
{#                                </div>#}
{##}
{#                                <div class="div_select_public_private">#}
{#                                    <select name="public_private" id="select_public">#}
{#                                        <option value="public">Public</option>#}
{#                                        <option value="private">Private</option>#}
{#                                    </select>#}
{#                                </div>#}
{##}
{#                                <div class="modal-body">#}
{##}
{#                                    <div class="d-flex align-items-center">#}
{#                                        <div class="user-img">#}
{#                                            <img src="{{ user.profile.image.url }}"#}
{#                                                 alt="userimg"#}
{#                                                 class="avatar-60 rounded-circle img-fluid">#}
{#                                        </div>#}
{#                                        <form class="post-text ml-3 w-100"#}
{#                                              action="javascript:void(0);">#}
{#                                    <textarea type="text" class="form-control rounded"#}
{#                                              placeholder="Write something here..." id="input_post_content"#}
{#                                              style="border:none;line-height: 18px;"></textarea>#}
{#                                        </form>#}
{#                                    </div>#}
{#                                    <hr>#}
{#                                    <ul class="d-flex flex-wrap align-items-center list-inline m-0 p-0">#}
{#                                        <li class="col-md-6 mb-3">#}
{#                                            <div class="iq-bg-primary rounded p-2 pointer mr-3">#}
{#                                                <input type="file" class="input_file_hidden" id="input_post_image"#}
{#                                                       onchange="preview_post_image()" multiple>#}
{#                                                <label for="input_post_image"><img#}
{#                                                        src="{% static 'users/images/small/07.png' %}"#}
{#                                                        alt="icon" class="img-fluid">#}
{#                                                    Photo/Video</label>#}
{#                                            </div>#}
{#                                        </li>#}
{#                                    </ul>#}
{##}
{#                                    <div id="div_preview_post_image" class="row">#}
{##}
{#                                    </div>#}
{##}
{#                                    <hr>#}
{#                                    <button type="button" class="btn btn-primary d-block w-100 mt-3"#}
{#                                            onclick="submit_new_post()">#}
{#                                        Post#}
{#                                    </button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% endif %}#}
{#                        {% for post in posts %}#}
{#                            <div class="post_box">#}
{#                                <article class="media content-section">#}
{#                                    <img class="rounded article-img mt-2" src="{{ post.author.profile.image.url }}" alt="">#}
{#                                    <div class="media-body">#}
{#                                        <div class="article-metadata">#}
{#                                            <a class="mr-2" href="javascript:void(0)"#}
{#                                               onclick="checkBlock({{ post.author.id }}, '{{ post.author.username }}')">{{ post.author.profile.user.first_name }}#}
{#                                                {{ post.author.profile.user.last_name }}</a>#}
{#                                            <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>#}
{#                                        </div>#}
{#                                        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>#}
{#                                        </h2>#}
{#                                        <p class="article-content">{{ post.content }}</p>#}
{##}
{#                                        <div class="div_post_images row">#}
{#                                            {% for image in post.images %}#}
{#                                                <div class="col-3" style="width: 100%;">#}
{#                                                    <img src="/media/{{ image }}" class="img_post" alt="image"#}
{#                                                         style="width: 98%; height: 100%">#}
{#                                                </div>#}
{#                                            {% endfor %}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </article>#}
{#                                <div class="comment-area mt-3">#}
{#                                    <div class="d-flex justify-content-between align-items-center">#}
{#                                        <div class="like-block position-relative d-flex align-items-center">#}
{#                                            <div class="total-comment-block">#}
{#                                                <div class="dropdown">#}
{#                                                    <span class="dropdown-toggle"#}
{#                                                        data-toggle="dropdown"#}
{#                                                          aria-haspopup="true"#}
{#                                                          aria-expanded="false" role="button">#}
{#                                                <span id="num_comment_{{ post.id }}">{{ post.comments.all|length }}</span> Comments#}
{#                                            </span>#}
{#                                                    <div class="dropdown-menu">#}
{#                                                        <a class="dropdown-item" href="#">Max#}
{#                                                            Emum</a>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="share-block  text-right feather-icon mr-2">#}
{#                                    <span role="button">#}
{#                                        <img src="{% static 'users/images/icon/01.png' %}"#}
{#                                             class="img-fluid" alt="">#}
{#                                    </span>#}
{#                                            <a href="javascript:void(0);"><i#}
{#                                                    class="ssri-share-line"></i>#}
{#                                                <span class="ml-1"#}
{#                                                      onclick="upvote({{ post.id }}, {{ post.author.id }})"><span#}
{#                                                        id="upvote_{{ post.id }}">{{ post.like|length }}</span> Upvotes</span></a>&nbsp;&nbsp;#}
{#                                            <a href="javascript:void(0);"><span#}
{#                                                    class="fa fa-thumbs-down"></span><span#}
{#                                                    class="ml-1"#}
{#                                                    onclick="downvote({{ post.id }}, {{ post.author.id }})">#}
{#                                        <span id="downvote_{{ post.id }}">#}
{#                                            {% if post.dislike|length == 0 %}#}
{#                                                0#}
{#                                            {% else %}#}
{#                                                -{{ post.dislike|length }}#}
{#                                            {% endif %}#}
{#                                        </span> Downvotes</span></a>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                    <hr>#}
{#                                    <ul class="post-comments p-0 m-0"#}
{#                                        id="post_comments_{{ post.id }}"#}
{#                                        data-id="{{ post.id }}">#}
{##}
{#                                        {% for comment in post.comments.all %}#}
{#                                            <li class="mb-2">#}
{#                                                <div class="d-flex flex-wrap">#}
{#                                                    <div class="user-img">#}
{#                                                        <img src="/media/{{ comment.author.profile.image }}"#}
{#                                                             alt="userimg"#}
{#                                                             class="avatar-35 rounded-circle img-fluid">#}
{#                                                    </div>#}
{#                                                    <div class="comment-data-block ml-3">#}
{#                                                        <a class="mr-2" href="javascript:void(0);"#}
{#                                                           onclick="checkBlock({{ comment.author.id }}, '{{ comment.author.username }}')">{{ comment.author.first_name }} {{ comment.author.last_name }}</a>#}
{#                                                        <p class="mb-0"#}
{#                                                           id="content_{{ comment.id }}"> {{ comment.content }} </p>#}
{#                                                        {% if comment.image != '' %}#}
{#                                                            <img src="/media/{{ comment.image }}" alt=""#}
{#                                                                 style="width: 80%; margin: auto; margin-left: 10%">#}
{#                                                        {% endif %}#}
{#                                                        <div class="d-flex flex-wrap align-items-center comment-activity">#}
{#                                                            <a href="javascript:void();"><a href="javascript:void(0);"><i#}
{#                                                                    class="ssri-share-line"></i>#}
{#                                                                <span class="ml-1"#}
{#                                                                      onclick="upvoteComment({{ comment.id }}, {{ comment.author.id }})"><span#}
{#                                                                        id="upvotecomment_{{ comment.id }}">{{ comment.vote|length }}</span> Upvote</span></a></a>&nbsp;&nbsp;#}
{#                                                            <a href="javascript:void(0);"><span#}
{#                                                                    class="fa fa-thumbs-down"></span><span#}
{#                                                                    class="ml-1"#}
{#                                                                    onclick="downvotecomment({{ comment.id }}, {{ comment.author.id }})">#}
{#                                                    <span id="downvotecomment_{{ comment.id }}">#}
{#                                                        {% if comment.devote|length == 0 %}#}
{#                                                            0#}
{#                                                        {% else %}#}
{#                                                            -{{ comment.devote|length }}#}
{#                                                        {% endif %}#}
{#                                                    </span> Downvote</span></a>#}
{#                                                            <a href="javascript:void();"#}
{#                                                               onclick="onReply({{ post.id }},'{{ user.first_name }}', '{{ user.last_name }}','{{ comment.author.id }}')">Reply</a>#}
{#                                                            <span> 5 min </span>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </li>#}
{#                                        {% endfor %}#}
{##}
{#                                    </ul>#}
{##}
{##}
{##}
{#                                    <form class="comment-text d-flex align-items-center mt-3"#}
{#                                          action="javascript:void(0);">#}
{#                                <textarea type="text"#}
{#                                          class="form-control rounded input_comment" id="{{ post.id }}"#}
{#                                          name="{{ post.author.id }}"></textarea>#}
{#                                        <div class="comment-attagement d-flex">#}
{#                                            <input type="file" style="padding-right: 0px"#}
{#                                                   data-id="{{ post.id }}"#}
{#                                                   class="input_file_hidden input_comment_image"#}
{#                                                   id="input_comment_image{{ post.id }}">#}
{#                                            <label for="input_comment_image{{ post.id }}"><i#}
{#                                                    class="ri-camera-line mr-3"></i></label>#}
{#                                        </div>#}
{#                                    </form>#}
{#                                </div>#}

{#                            </div>#}
{#                        {% endfor %}#}
{#                        {% if is_paginated %}#}
{#                            {% if page_obj.has_previous %}#}
{#                                <a class="btn btn-outline-info mb-4" href="?page=1">First</a>#}
{#                                <a class="btn btn-outline-info mb-4"#}
{#                                   href="?page={{ page_obj.previous_page_number }}">Previous</a>#}
{#                            {% endif %}#}
{#                            {% for num in page_obj.paginator.page_range %}#}
{#                                {% if page_obj.number == num %}#}
{#                                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>#}
{#                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}#}
{#                                    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>#}
{#                                {% endif %}#}
{#                            {% endfor %}#}
{##}
{#                            {% if page_obj.has_next %}#}
{#                                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>#}
{#                                <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>#}
{#                            {% endif %}#}
{#                        {% endif %}#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}



{% endblock content %}
