{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

         <div class="header-for-bg">
            <div class="background-header position-relative">
               <img src="{% static 'users/images/page-img/profile-bg3.jpg' %}" class="img-fluid w-100" alt="header-bg">
               <div class="title-on-header">
                  <div class="data-block">
                     <h2>Friend Lists</h2>
                  </div>
               </div>
            </div>
         </div>
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container">
               <div class="row">
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg2.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/05.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Anna Sthesia</h4>
                                             <h6>@designer</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg1.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/06.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Paul Molive</h4>
                                             <h6>@developer</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg4.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/07.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Anna Mull</h4>
                                             <h6>@designer</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg5.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/08.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Paige Turner</h4>
                                             <h6>@tester</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg6.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/09.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Bob Frapples</h4>
                                             <h6>@developer</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg7.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/10.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Barb Ackue</h4>
                                             <h6>@grapfics</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg8.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/13.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Greta Life</h4>
                                             <h6>@fashion</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg9.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/14.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Ira Membrit</h4>
                                             <h6>@designer</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg1.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/15.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Pete Sariya</h4>
                                             <h6>@designer</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg2.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/16.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Monty Carlo</h4>
                                             <h6>@designer</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg5.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/17.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Ed Itorial</h4>
                                             <h6>@testen</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg8.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/18.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Paul Issy</h4>
                                             <h6>@r&d</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg7.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/19.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Rick Shaw</h4>
                                             <h6>@coder</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg9.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/07.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Ben Effit</h4>
                                             <h6>@designer</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg4.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/08.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Justin Case</h4>
                                             <h6>@designer</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <div class="iq-card">
                        <div class="iq-card-body profile-page p-0">
                           <div class="profile-header-image">
                              <div class="cover-container">
                                 <img src="{% static 'users/images/page-img/profile-bg2.jpg' %}" alt="profile-bg" class="rounded img-fluid w-100">
                              </div>
                              <div class="profile-info p-4">
                                 <div class="user-detail">
                                    <div class="d-flex flex-wrap justify-content-between align-items-start">
                                       <div class="profile-detail d-flex">
                                          <div class="profile-img pr-4">
                                             <img src="{% static 'users/images/user/09.jpg' %}" alt="profile-img" class="avatar-130 img-fluid" />
                                          </div>
                                          <div class="user-data-block">
                                             <h4 class="">Aaron Ottix</h4>
                                             <h6>@designer</h6>
                                             <p>Lorem Ipsum is simply dummy text of the</p>
                                          </div>
                                       </div>
                                       <a href="#">
                                       <button type="submit" class="btn btn-primary">View Profile</button>
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
 {% endblock %}