{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container">
               <div class="row row-eq-height">
                  <div class="col-md-12">
                     <div class="row">
                        <div class="col-md-12">
                           <div class="iq-card iq-border-radius-20">
                              <div class="iq-card-body">
                                 <div class="row">
                                    <div class="col-md-12 mb-3">
                                       <h5 class="text-primary card-title"><i class="ri-pencil-fill"></i> Compose Review</h5>
                                    </div>
                                 </div>
                                 <form class="email-form">
                                    <div class="form-group row">
                                       <label for="subject" class="col-sm-2 col-form-label">Your Review:</label>
                                       <div class="col-md-10">
                                          <textarea class="textarea form-control" rows="5">Please give a review of this person. Remember, all reviews are public. You can update a review, but your original review will still be public.</textarea>
                                       </div>
                                    </div>
                                    <div class="form-group row align-items-center">
                                       <div class="d-flex flex-grow-1 align-items-center">
                                          <div class="send-btn pl-3">
                                             <button type="submit" class="btn btn-primary">Send</button>
                                             
                                          </div>
                                        
                                        </div>
                                    </div>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{%  endblock %}