{% extends 'blog/base.html' %}

{% block content %}

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title">Friend Request</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <ul class="request-list list-inline m-0 p-0">
                                <lifo class="d-flex align-items-center">
                                    <div class="user-img img-fluid"><img src="images/user/05.jpg" alt="story-img"
                                                                         class="rounded-circle avatar-40"></div>
                                    <div class="media-support-info ml-3">
                                        <h6>Jaques Amole</h6>
                                        <p class="mb-0">40 friends</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-success rounded">Confirm</a>
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-primary rounded">Delete
                                            Request</a>
                                        <a href="javascript:void();"
                                           class="mr-3 btn btn-outline-danger rounded">Block</a>
                                    </div>
                                </lifo>
                                <li class="d-flex align-items-center">
                                    <div class="user-img img-fluid"><img src="images/user/06.jpg" alt="story-img"
                                                                         class="rounded-circle avatar-40"></div>
                                    <div class="media-support-info ml-3">
                                        <h6>Lucy Tania</h6>
                                        <p class="mb-0">12 friends</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-success rounded">Confirm</a>
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-primary rounded">Delete
                                            Request</a>
                                        <a href="javascript:void();"
                                           class="mr-3 btn btn-outline-danger rounded">Block</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="user-img img-fluid"><img src="images/user/07.jpg" alt="story-img"
                                                                         class="rounded-circle avatar-40"></div>
                                    <div class="media-support-info ml-3">
                                        <h6>Val Adictorian</h6>
                                        <p class="mb-0">0 friends</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-success rounded">Confirm</a>
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-primary rounded">Delete
                                            Request</a>
                                        <a href="javascript:void();"
                                           class="mr-3 btn btn-outline-danger rounded">Block</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="user-img img-fluid"><img src="images/user/08.jpg" alt="story-img"
                                                                         class="rounded-circle avatar-40"></div>
                                    <div class="media-support-info ml-3">
                                        <h6>Manny Petty</h6>
                                        <p class="mb-0">3 friends</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-success rounded">Confirm</a>
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-primary rounded">Delete
                                            Request</a>
                                        <a href="javascript:void();"
                                           class="mr-3 btn btn-outline-danger rounded">Block</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="user-img img-fluid"><img src="images/user/09.jpg" alt="story-img"
                                                                         class="rounded-circle avatar-40"></div>
                                    <div class="media-support-info ml-3">
                                        <h6>Marsha Mello</h6>
                                        <p class="mb-0">15 friends</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-success rounded">Confirm</a>
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-primary rounded">Delete
                                            Request</a>
                                        <a href="javascript:void();"
                                           class="mr-3 btn btn-outline-danger rounded">Block</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="user-img img-fluid"><img src="images/user/10.jpg" alt="story-img"
                                                                         class="rounded-circle avatar-40"></div>
                                    <div class="media-support-info ml-3">
                                        <h6>Caire Innet</h6>
                                        <p class="mb-0">8 friends</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-success rounded">Confirm</a>
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-primary rounded">Delete
                                            Request</a>
                                        <a href="javascript:void();"
                                           class="mr-3 btn btn-outline-danger rounded">Block</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="user-img img-fluid"><img src="images/user/11.jpg" alt="story-img"
                                                                         class="rounded-circle avatar-40"></div>
                                    <div class="media-support-info ml-3">
                                        <h6>Gio Metric</h6>
                                        <p class="mb-0">10 friends</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-success rounded">Confirm</a>
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-primary rounded">Delete
                                            Request</a>
                                        <a href="javascript:void();"
                                           class="mr-3 btn btn-outline-danger rounded">Block</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="user-img img-fluid"><img src="images/user/12.jpg" alt="story-img"
                                                                         class="rounded-circle avatar-40"></div>
                                    <div class="media-support-info ml-3">
                                        <h6>Chris P. Cream</h6>
                                        <p class="mb-0">18 friends</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-success rounded">Confirm</a>
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-primary rounded">Delete
                                            Request</a>
                                        <a href="javascript:void();"
                                           class="mr-3 btn btn-outline-danger rounded">Block</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="user-img img-fluid"><img src="images/user/13.jpg" alt="story-img"
                                                                         class="rounded-circle avatar-40"></div>
                                    <div class="media-support-info ml-3">
                                        <h6>Paul Misunday</h6>
                                        <p class="mb-0">6 friends</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-success rounded">Confirm</a>
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-primary rounded">Delete
                                            Request</a>
                                        <a href="javascript:void();"
                                           class="mr-3 btn btn-outline-danger rounded">Block</a>
                                    </div>
                                </li>
                                <li class="d-flex align-items-center">
                                    <div class="user-img img-fluid"><img src="images/user/14.jpg" alt="story-img"
                                                                         class="rounded-circle avatar-40"></div>
                                    <div class="media-support-info ml-3">
                                        <h6>Reanne Carnation</h6>
                                        <p class="mb-0">12 friends</p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-success rounded">Confirm</a>
                                        <a href="javascript:void();" class="mr-3 btn btn-outline-primary rounded">Delete
                                            Request</a>
                                        <a href="javascript:void();"
                                           class="mr-3 btn btn-outline-danger rounded">Block</a>
                                    </div>
                                </li>
                                <li class="d-block text-center">
                                    <a href="#" class="mr-3 btn">View More Request</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>

{% endblock %}
