{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="iq-card position-relative inner-page-bg bg-primary" style="height: 150px;">
                        <div class="inner-page-title">
                           <h3 class="text-white">Become a Full Member</h3>
                           <p class="text-white">Signing up unlocks all features.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                     <div class="iq-card" >
                        <div class="iq-card-body border text-center rounded">
                           <span class="font-size-16 text-uppercase">Full Member</span>
                           <h2 class="mb-4 display-3 font-weight-bolder ">$14.99
                              <small class="font-size-14 text-muted">/ Month</small></h2>
                           <ul class="list-unstyled line-height-4 mb-0">
                              <li>Friend Requests:<span class="text-success"> Unlimited</span></li>
                              <li>Messaging:<span class="text-success"> Unlimited</span></li>
                              <li>Leave Reputations: <span class="text-success">Yes!</span></li>
                              <li>Respond to Reputations: <span class="text-success">Yes!</span></li>
                              <li>Create Groups:<span class="text-success"> Unlimited*</span> </li>
                              <li>Create Events:<span class="text-success"> Unlimited*</span> </li>
                              <span class="text-muted">* Coming Soon!</span>
                           </ul>
{#                            # TODO - change this to a reverse URL lookup#}
                            <a href="/checkout/Full Membership/14" class="btn btn-outline-primary btn-block mt-5">Begin!</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12">
                     <div class="iq-card">
                        <div class="iq-card-body border text-center rounded">
                           <span class="font-size-16 text-uppercase">Referral</span>
                           <h2 class="mb-4 display-3 font-weight-bolder">$0<small class="font-size-14 text-white-50">/ Month</small></h2>
                           <p>Use Facebook to help you get a free account!</p>
                           <ol class="line-height-4 mb-0 text-left">
                              <li>Post the link to this website on your Facebook profile</li>
                              <li>Take a screen shot</li>
                              <li>If a user signs up and pays for a month, you get a free month!</li>
                           </ol>
                           <div class="container">
                              <p class="mt-3 text-left">Be sure to email us the screen shot and the username of the person that signed up!</p>
                           </div>
                           
                        </div>
                     </div>
                  </div>

                  <div class="col-sm-12">
                     <div class="iq-card">
                        <div class="iq-card-body">
                           <div class="table-responsive">
                              <table class="table">
                                 <thead>
                                    <tr>
                                       <th class="text-center" scope="col"></th>
                                       <th class="text-center" scope="col">Full Member</th>
                                       <th class="text-center" scope="col">Referral</th>
                                       <th class="text-center" scope="col">Free Account</th>
                                       
                                    </tr>
                                 </thead>
                                 <tbody>
                                    <tr>
                                       <th class="text-center" scope="row">Public Posts</th>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       
                                    </tr>
                                    <tr>
                                       <th class="text-center" scope="row">Public Images</th>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       
                                    </tr>

                                    <tr>
                                       <th class="text-center" scope="row">Comment on Posts</th>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       
                                    </tr>
                                    <tr>
                                       <th class="text-center" scope="row">Private Posts</th>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-danger">No!</td>
                                       
                                    </tr>

                                    
                                    

                                    <tr>
                                       <th class="text-center" scope="row">Private Images</th>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-danger">No!</td>
                                       
                                    </tr>
                                    <tr>
                                       <th class="text-center" scope="row">Friend Requests</th>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center">10 per day</td>
                                       
                                    </tr>
                                    <tr>
                                       <th class="text-center" scope="row">Messaging</th>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-danger">No!</td>
                                       
                                    </tr>
                                    <tr>
                                       <th class="text-center" scope="row">Create Events</th>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center">1 per month</td>
                                    </tr>
                                    <tr>
                                       <th class="text-center" scope="row">Create Groups</th>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-danger">No!</td>
                                    </tr>
                                    <tr>
                                       <th class="text-center" scope="row">Leave User Review</th>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-danger">No!</td>
                                    </tr>
                                    <tr>
                                       <th class="text-center" scope="row">Respond to User Review</th>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-success">Unlimited</td>
                                       <td class="text-center text-danger">No!</td>
                                    </tr>
                                    
                                   
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}