{% extends 'blog/base.html' %}
{% block content %}
    {% load static %}

    <!-- Page Content  -->
    <div id="content-page" class="content-page">
        <div class="content text-center">
            <div class="row">
                <div class="col-12">
                    <div class="sign-in-from">
                        <svg class="bi bi-credit-card" width="10em" height="10em" viewBox="0 0 16 16"
                             fill="currentColor"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M14 3H2a1 1 0 00-1 1v8a1 1 0 001 1h12a1 1 0 001-1V4a1 1 0 00-1-1zM2 2a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H2z"
                                  clip-rule="evenodd"/>
                            <rect width="3" height="3" x="2" y="9" rx="1"/>
                            <path d="M1 5h14v2H1z"/>
                        </svg>
                        <h1 class="mt-3 mb-0">Success !</h1>
                        <p>Thank you for purchase!</p>
                        <p>Your account has now been upgraded.</p>
                        <div class="d-inline-block w-100">
                            <button type="submit" class="btn btn-primary mt-3">Back to Home</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- End Page Content  -->
{% endblock %}