{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

         <div class="header-for-bg">
            <div class="background-header position-relative">
               <img src="{% static 'users/images/page-img/profile-bg5.jpg' %}" class="img-fluid rounded w-100 rounded rounded" alt="profile-bg">
               <div class="title-on-header">
                  <div class="data-block">
                     <h2>Your Photos</h2>
                  </div>
               </div>
            </div>
         </div>
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/51.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/52.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/53.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/54.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/55.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/56.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/57.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/58.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/59.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/60.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/61.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/62.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/63.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/64.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <a href="#">
                        <img src="{% static 'users/images/page-img/65.jpg' %}" class="img-fluid rounded" alt="Responsive image">
                        </a>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock %}