{% extends 'blog/base.html' %}
{% block content %}
{% load static %}

         <div class="header-for-bg">
            <div class="background-header position-relative">
               <img src="{%  static 'users/images/page-img/profile-bg9.jpg' %}" class="img-fluid w-100 rounded rounded" alt="profile-bg">
               <div class="title-on-header">
                  <div class="data-block">
                     <h2>Your Videos</h2>
                  </div>
               </div>
            </div>
         </div>
         <!-- Page Content  -->
         <div id="content-page" class="content-page">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/K3M-czGNUCg" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ml4XCF-JS0k" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pILFK2HfJtw" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FZ-_76rKlVU" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ua5ilz9Vvrs" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JAIvWg4iQHo" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CMN--AT39-c" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CSB1EfostkQ" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/eTZUoCVhlwk" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aU84KeezYMc" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/s2bL_UpyYv0" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/SlDifKHIJ1w" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_3o2s94wNXk" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/VEJEtoa2Ig0" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
                  <div class="col-md-6 col-lg-4 mb-3">
                     <div class="user-images position-relative overflow-hidden">
                        <div class="embed-responsive embed-responsive-16by9">
                           <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1RB2XPW9k0U" allowfullscreen></iframe>
                        </div>
                        <div class="image-hover-data">
                           <div class="product-elements-icon">
                              <ul class="d-flex align-items-center m-0 p-0 list-inline">
                                 <li><a href="#" class="pr-3 text-white"> 60 <i class="ri-thumb-up-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 30 <i class="ri-chat-3-line"></i> </a></li>
                                 <li><a href="#" class="pr-3 text-white"> 10 <i class="ri-share-forward-line"></i> </a></li>
                              </ul>
                           </div>
                        </div>
                        <a href="#" class="image-edit-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit or Remove"><i class="ri-edit-2-fill"></i></a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
{% endblock content %}