{% load static %}
{% load crispy_forms_tags %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>FTP - A new concept in connecting with others</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'users/images/favicon.ico' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'users/css/bootstrap.min.css' %}">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="{% static 'users/css/typography.css' %}">
    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'users/css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'users/css/responsive.css' %}">

</head>
<body>
<!-- loader Start -->
<div id="loading">
    <div id="loading-center">
    </div>
</div>
<!-- loader END -->
<!-- Sign in Start -->
<section class="sign-in-page">
    <div id="container-inside">
        <div id="circle-small"></div>
        <div id="circle-medium"></div>
        <div id="circle-large"></div>
        <div id="circle-xlarge"></div>
        <div id="circle-xxlarge"></div>
    </div>
    <div class="container p-0">
        <div class="row no-gutters">


            <div class="col-md-12 bg-white pt-5">
                <div class="sign-in-from">
                    <h1 class="mb-0">Wait for an operator to approve your request</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Sign in END -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'users/js/jquery.min.js' %}"></script>
<script src="{% static 'users/js/popper.min.js' %}"></script>
<script src="{% static 'users/js/bootstrap.min.js' %}"></script>
<!-- Appear JavaScript -->
<script src="{% static 'users/js/jquery.appear.js' %}"></script>
<!-- Countdown JavaScript -->
<script src="{% static 'users/js/countdown.min.js' %}"></script>
<!-- Counterup JavaScript -->
<script src="{% static 'users/js/waypoints.min.js' %}"></script>
<script src="{% static 'users/js/jquery.counterup.min.js' %}"></script>
<!-- Wow JavaScript -->
<script src="{% static 'users/js/wow.min.js' %}"></script>
<!-- lottie JavaScript -->
<script src="{% static 'users/js/lottie.js' %}"></script>
<!-- Apexcharts JavaScript -->
<script src="{% static 'users/js/apexcharts.js' %}"></script>
<!-- Slick JavaScript -->
<script src="{% static 'users/js/slick.min.js' %}"></script>
<!-- Select2 JavaScript -->
<script src="{% static 'users/js/select2.min.js' %}"></script>
<!-- Owl Carousel JavaScript -->
<script src="{% static 'users/js/owl.carousel.min.js' %}"></script>
<!-- Magnific Popup JavaScript -->
<script src="{% static 'users/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Smooth Scrollbar JavaScript -->
<script src="{% static 'users/js/smooth-scrollbar.js' %}"></script>
<!-- Chart Custom JavaScript -->
<script src="{% static 'users/js/chart-custom.js' %}"></script>
<!-- Custom JavaScript -->
<script src="{% static 'users/js/custom.js' %}"></script>
</body>
</html>