{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
    <div id="content-page" class="content-page">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="iq-card">
                        <div class="iq-card-header d-flex justify-content-between">
                            <div class="iq-header-title">
                                <h4 class="card-title"> Conversations</h4>
                            </div>
                        </div>
                        <div class="iq-card-body">
                            <ul class="request-list list-inline m-0 p-0">
                                  {% for convo in conversations %}
                                <li class="d-flex align-items-center">

                                    <div class="media-support-info ml-3">
                                        <h6>{{ convo.name }}</h6>
                                        <p class="mb-0"><b>1 unread message</b></p>
                                    </div>
                                    <div class="d-flex align-items-center">
                                   <p> {{ convo.lastMessage }}</p>
                                    </div>
                                </li>
                                  {% endfor %}
                                <li class="d-block text-center">
                                    <a href="#" class="mr-3 btn">View More Conversations</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{%  endblock %}

